@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    /*outline: 1px solid black;*/
}

body{
    background-color: #ccc;
    font-family: 'Open Sans', sans-serif;
}

input [type=submit]{
    display: inline;
}

tr{
    text-align: center; 
}



table{
    width: 100%;
}

.right {
    text-align: right;
}

#form a{
    color: #2c3e50;
    text-decoration: none;
}

#content{
    clear: both;
    background-color: #ddd;
    width: 90%;
    /*max-width: 1200px;*/
    /*min-width: 900px;*/
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
}

.product  span{
    float:right;
}
.product{
    display: inline-block;    
    margin-left: 10px;
}
.product  img {
    width:270px;
    height:300px;
}

.photo {
    margin: 0 auto;
    width: 500px;
}

.photo  img {
    width:500px;
    height:450px;
    
}

#text{
    height:300px;
    overflow-y: scroll;
    background: #ecf0f1;
    padding: 10px;
}

/*#footer {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    padding-bottom: 5px;*/
/*    font-family: monospace;*/
/*}*/

#footer{
    position: relative;
    font-family: monospace;
    clear: both;
    bottom: 0;
}

/*Form material design*/

#formuser {
	
	text-align: center;
	width: 50%;
	margin: 0 auto;
}

#form{
    background-color: #7f8c8d;
    width: 20%;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 25px;
    padding: 15px;
}

input,
textarea {
	display: block;
	width: 97%;
	border: 0;
	padding: 10px 5px;
	background: #7f8c8d no-repeat;
	
	/*
	* IMPORTANT PART HERE
	*/
	
  /* 2 imgs : 1px gray line (normal state) AND 2px green line (focus state) */
	background-image: linear-gradient(to bottom, #1abc9c, #1abc9c), linear-gradient(to bottom, silver, silver);
	/* sizes for the 2 images (default state) */
	background-size: 0 2px, 100% 1px;
	/* positions for the 2 images. Change both "50%" to "0%" or "100%" and tri again */
	background-position: 50% 100%, 50% 100%;

	/* animation solely on background-size */
    transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);

}

.subbutton {
    width: 100%;
    cursor: pointer;
    background: #16a085;
}

input:focus,
textarea:focus {
  /* sizes for the 2 images (focus state) */
	background-size: 100% 2px, 100% 1px;
	outline: none;
}

.effectsin{
    width: 15px;
    display: inline;
}

/*end form matrial design*/

#userphoto{
    display: block;
    margin: 0 auto;
}

#remember{
    float: left;
    width: 20px;
}

* {
  /*border: 1px solid;*/
  margin: 0;
}
.button{
  align-self: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-family: arial;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  background: rgb(255, 85, 85);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  border: 0;
  float: left;
  width: 500px;
}

.first-btn{
    border-right: 2px solid white;
}

.button-small{
    width: 250px;
}

.button:hover{
 background: #E03A3A;
}

.button:active{
  transform: scale(1.025);
}
.container{
  width: 100%;
  margin: 0;
}
.left-col{
    width: 60%;
    float: left;
}
.right-col{

    width: 40%;
    float: right;
}
.wrapper{
    height: 524px;
      border-radius: 10px;
    width: 500px;
    margin: 0 auto;
}
#video{
  background: green;
}
#imagesel{
  width: 100px;
  height: 100px;
}

#pphotos{
    /*height: 400px;*/
    overflow-y: scroll;
    width: 100%;
    margin: 0;
    background: #95a5a6;
}

#pphotos>img{
  display: inherit;
  padding: 5px;
  margin: 0 auto;
}

#post{
    height: 200px;
}

.profilephoto{
    width:20%;
    float: left;
}

.profilephoto img{
    height:200px;
    width: 100%
}
.description span {
    padding: 10px;
}
.description{
    
    float:left;
    width:80%;
}
.logologin{
    margin: 0 auto;
    margin-top: 10%;
    font-family: 'Clicker Script', cursive;
    font-size:60px;
    width: 15%;
}
.reglogin{
    margin-top: 0;
}
.logologin a {
    text-decoration: none;
    color: black;
}

#con {
    width: 99%;
}

#commbutton{
    cursor: pointer;
    width: 100%;
}

#date-for-comment{
    font-size: 70%;
    float: right;
}

#loadphotos {
    margin:0 auto;
    float:none;
    display:block;
    background:#f39c12;
    margin-bottom: 10px;
}

.comment-wrapper{
    border-radius:10px;
    background: #ddd;
    padding: 5px;
    margin-top:20px;
}

/*Css For Mobile*/


@media screen and (max-width: 860px)  {
  
  .left-col{
    width: 100%;
  }
  .right-col{
      clear: both;
      width: 100%;
      float: left;
  }
  #formuser,
  #form{
      margin-top: 20%;
      width: 90%;
  }
  #commbutton{
      width: 100%;
  }
  .product img {
    width: 100%;
  }
  #content{
      width: 80%;
  }
  #video {
    width: 100%;
    height: initial;
  }
  #startbutton{
      width: 100%;
  }
  #startbutton1{
      width: 100%;
      border: none;
      border-bottom: 1px solid white;
  }
  #startbutton2{
      width: 100%;
  }
  .wrapper{
      width: 100%;
      height: 350px;
  }
  .photo img {
      width: 100%;
  }
  .photo {
      width: 100%;
  }
  .logologin{
    width: 40%;
}
  
}